.navbar-brand{
	font-family: 'Merriweather', serif; 
	font-weight: bold; 
	font-size: 30px; 
}

.nav-font{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

@media only screen and (max-width: 992px){
	.nav-font{
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
	}
}

.myImage{
	width: 270px;
	height: 300px;
	border-radius: 100%;
}

@media only screen and (max-width: 450px){
	.myImage{
		width: 270px;
		height: 270px;
	}
}

@media only screen and (max-width: 371px){
	.myImage{
		width: 250px;
		height: 250px;
	}
}

.findMore{
	border-radius: 60px;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: #e50000;
}

.pic { 
	margin: 0px;
    padding: 0px;
    position: relative;
    display: block;
    box-sizing: border-box;   
}

.projectheading{
	font-size: 20px;
	font-weight: bold;
}

.projectdetail{
	font-size: 16px;
}
